---

---


<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0 img-nav"
  >
    <div class="flex gap-6 md:gap-10 header-text">
      <a href="/" class="flex items-center space-x-2">
        <span class="inline-block font-bold">Mindverse Education 0.1</span>
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1">
      </nav>
    </div>
  </div>
</header>

<style>

.img-nav{
  display: flex;
  background-image: url(../layouts/image/nav-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.header-text{
    color: white;
}
</style>