---
import Usercam from "./usercam.astro";
import Videoavatar from "./videoavatar.astro"
---

<div>
  <Videoavatar></Videoavatar>
  <div class="usercam-container">
    <Usercam />
  </div>
</div>


<script>
  const backgroundVideo = document.getElementById("background-video");

  // Evento que se ejecuta al finalizar el video "hi.mp4"
  backgroundVideo.addEventListener("ended", function () {
    // Cambiar la fuente del video al "Hello 2.mp4" y configurar el bucle
    backgroundVideo.src = "../../src/layouts/video/Hello 2.mp4";
    backgroundVideo.loop = true;
    backgroundVideo.play();
  });
</script>

<style>

  .usercam-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2; /* Valor más alto para estar delante del video */
  }
</style>

