---

---
<div class="background-container">
    <video
      id="background-video"
      class="background-video"
      src="../../src/layouts/video/hi.mp4"
      autoplay="true"></video>
  </div>

<style>
.background-container {
    position: fixed;
    top: 60px; /* Altura del header */
    left: 0;
    width: 100%;
    height: calc(
      100% - 60px
    ); /* Restar la altura del header para ocupar toda la pantalla */
    overflow: hidden;
    z-index: 1; /* Valor bajo para estar detrás de otros elementos */
  }

  .background-video {
    width: 100%;
    height: 90%;
    object-fit: cover; /* Ajustar el tamaño del video para cubrir completamente el contenedor */
  }
</style>